################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TCP/TCPServer/obj/Debug
/TCP/TCPClient/obj/Debug
/TCP/TCPClient/bin/Debug
/TCP/TCPServer/bin/Debug
/TCP/.vs/TCP/v14
/TCP/TCPServer/obj/Release
/TCP/TCPClient/obj/Release
